* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff; 
    padding: 20px; 
}


.heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px; 
}

.profile {
    background-color: #444; 
    padding: 20px; 
    border-radius: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}

/* Align the new profile card to the right */
.right-aligned {
    margin-left: auto;
}

.profile-image {
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    margin-right: 20px;
}

.content {
    color: #fff;
}

.footer {
    text-align: center;
    margin-top: 20px; 
    color: #ccc; 
}
